.rs-drawer-body{
    padding: 1.5rem !important; 
    background-color: black;
}


.rs-drawer-header {
    background-color: black;
}

.rs-drawer-title{
    color: white !important;
    font-weight: bold !important;
}

.rs-drawer-header .rs-drawer-header-close {
    color: white;
}

.rs-btn-subtle:focus, .rs-btn-subtle:hover {
    background-color: transparent !important;
    background-color: var(--rs-btn-subtle-hover-bg);
    color: greenyellow !important;
    color: var(--rs-btn-subtle-hover-text);
}

.Menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Menu li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: .4s;
}
.Menu li a:hover{
    color: greenyellow;
    
}

@media (max-width : 50em) {
    /* .rs-drawer-content{
        width: 80% !important;
    } */

    /* .rs-drawer-dialog {
        width: 80% !important;
    } */

    .rs-drawer-left.rs-drawer-xs, .rs-drawer-right.rs-drawer-xs {
        /* width: 401px; */
        width: min(401px, 80%);
    }
}