.container_article4{
    width: 100%;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
}
.container_article4 .contenttt{
    width: min(1300px, 100% - 1rem);
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    gap: 2rem;
}


.container_article4 .contenttt .side_images{
    position: relative;
    flex-basis: 60em;
    height: clamp(31rem, 70vw + 5rem, 50rem);
}

.container_article4 .side_images .i1{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    height: clamp(15rem, 25vw + 15rem , 25rem);
    max-width: 78%;
    flex-grow: 1;
}

@media (max-width : 50em) {
    .container_article4 .side_images .i1{
        position: absolute;
        right: 0rem;
        bottom: 0rem;
        height: clamp(15rem, 25vw + 15rem, 25rem);
        max-width: 78%;
        flex-grow: 1;
    }
}


.container_article4 .side_images .i2{
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: auto;
    max-width: 78%;
    flex-grow: 1;
    z-index: 9;
}




.container_article4 .contenttt .side_description{
    flex-basis: 30em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


@media (max-width : 83em) {
    /* .container_article4 .contenttt{
        flex-flow: column-reverse;
    } */

    .container_article4 .contenttt .side_images{
        position: relative;
        flex-basis: clamp(30rem, 50vw + 5rem, 60rem);
        height: clamp(31rem, 70vw + 5rem, 50rem);
    }

    /* .container_article4 .contenttt .side_description{
        flex-basis: clamp(10rem ,30vw - 6rem, 30rem);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    } */

    /* .container_article4 .contenttt .side_description{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    } */
    
}
