.container_article2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* padding: 5rem 0; */
    background-color: black
}
.container_article2 h2{
    padding: 3rem 0;
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: clamp(3rem, 5vw, 5.5rem);
    font-family: "Cormorant Garamond", serif;
    color: white;
}

.container_article2 .contentt{
    width: min(1300px, 100% - 1rem);
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    gap: 1rem;
}

/* @media (min-width : 75em) {
    
    .container_article2 .contentt{
        width: min(1300px, 100% - 1rem);
        display: flex;
        flex-flow: column-reverse;
        flex-wrap: wrap;
        gap: 1rem;
    }
} */

.side_images{
    display: flex;
    position: relative;
    flex-basis: 60em;
    flex-grow: 1;
    height: clamp(31rem, 70vw + 12rem, 50rem);
}

.side_images .child1, .side_images .child1{
    position: absolute;
}

.side_images .child1{
    
    height: 25rem;
    max-width: 50%;
    right: 0;
    top: 10rem;
    flex-grow: 1;
    z-index: 9;
}





.side_images .child2{
    left: 8rem;
    /* top: 2rem; */
    height: auto;
    max-width: 80%;
    flex-grow: 1;
}


.side_description{
    flex-basis: 30em;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    /* align-items: center; */
}
.side_description h2{
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: clamp(3rem, 5vw, 5.5rem);
    font-family: "Cormorant Garamond", serif;
    text-align: left;
    color: white;
    
}

.side_description p{
    color: white;
}

@media (max-width : 50em) {
    .container_article2 .contentt{
        width: min(1300px, 100% - 1rem);
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .side_images{
        display: flex;
        position: relative;
        flex-basis: 38em;
        flex-grow: 1;
        height: clamp(31rem, 70vw + 12rem, 50rem);
    }

    .side_images .child1{
    
        height: 15rem;
        max-width: 50%;
        right: 0;
        top: 7rem;
        flex-grow: 1;
        z-index: 9;
    }

    .side_images .child2{
        left: 8rem;
        /* top: 2rem; */
        height: auto;
        max-width: 80%;
        flex-grow: 1;
    }
}

